//color variabels
$medium-gray: #777;
$mint-green: #58e1c1;
$baby-blue: #51ddfc;
$lavender: #927bc1;
$light-orange-red: #fd7856;
$light-reddish-pink: #e4757a;
$lime-green: #63cc82;
$white: #fff;
// media breakpoint variable
$mq-medium: 768px;